@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/functions' as *;

.not-found {

    &__wrapper {
        padding: 0 $component-pad;

        @include tablet {
            padding: 0 toRem(36);
        }

        @include desktop {
            @include wrapper;
        }
    }

    &__title {
        padding: $pre-headline 0 $post-headline;
        font-size: $page-header;
        font-weight: $demi;
        line-height: 1.3;

        @include tablet {
            padding: $responsive-pre-headline 0 $responsive-post-headline;
            font-size: $responsive-page-header;
            font-weight: $bold;
        }
    }
}